body {
    background-color: rgb(219, 191, 240);
}

.container {
    border: 1px solid black;

    display: flex;
    flex-wrap: wrap;
}

.container div {
    box-sizing: border-box;
    border: 1px solid red;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 1;
}