body {
    background-color: rgb(191, 215, 240);
}

h1 {
    text-align: center;
}

.container {
    border: 1px solid black;

    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.container div {
    box-sizing: border-box;
    border: 1px dashed gray;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 1;
}