body {
    background-color: rgb(191, 215, 240);
}

h1 {
    text-align: center;
}

button {
    padding: 5px;
    border-radius: 5px;
}

.options {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

.container {
    border: 1px solid black;

    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.container div {
    box-sizing: border-box;
    border: 1px solid gray;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 1;
}